<!DOCTYPE html>
<html>
<head>
  <title>We Run This</title>
    <link href = "bootstrap.css" rel="stylesheet">
  <link href = "style.css" rel="stylesheet">
</head>
<body>
	<div class = "container row">
		<header><h1> We Run This</h1></header>
		<div class = "col-md-3">
			<h3>Route List</h3>
			<ul id = "route-list">

			</ul>
		</div>
		<div class = "col-md-9">
			<div id = "route-form"></div>
		</div>
	</div>

</body>



<!-- TEMPLATES -->
<script id="route-view-template" type="text/template">
	<h2>"<%= name %>"</h2> submitted by <span class = "italic"><%= user %></span> <br/>
</script>
<script id="route-item-view-template" type="text/template">
	<span class = "bold"><a href="#/<%=id%>"><%= name %></a></span>
</script>
<script id="header-template" type="text/template">
	<button id = "new-route-btn">Add New Route</button>
</script>
<script id="new-route-form" type="text/template">
	<div id = "new-route-form-container">
	<form>
		<h4>Enter Route Details:</h4>
		<label>Route Name:</label><input id = "route-name-input" type = "text" /><br/>
		<label>Your Name:</label><input id = "user-name-input" type = "text" /><br/>
		<label>Comments:</label><textarea id = "comments-input" rows="2" cols="30" ></textarea><br/>
		<button class = "add-route-btn btn-success">Add to List!</button>
	</form>
	</div>
</script>
<script id="draw-instructions-template" type="text/template">
	<a id="show-instructions-link">Show Instructions</a>
	<ol id = "draw-instructions" class="hidden">
		<h4>To Draw a Run Route:</h4>
		<li class = "instruction-item">Enter your location at the top of the map.</li>
		<li class = "instruction-item">Click the cursor on the starting point.</li>
		<li class = "instruction-item">Continue clicking along the run route.</li>
		<li class = "instruction-item">When you are finished, either double click or if you 
			are making a loop, just re-click on the starting point.</li>
		<li class = "instruction-item">Click the "Clear Run Path" button to clear the map and try again.</li>
	</ol>

</script>
<script id="map-template" type="text/template">
	<div class="map-container">	
		<div id = "notice-container"><div id = "notice"></div></div>
		<div id="map-canvas" class = "map-canvas"></div>
		<div id = "route-clear-btns">
			<button id="clear-map-btn" class = "btn-danger" style="display:none">Clear Run Path</button>
		</div>
	</div>	
</script>
<script id="geocoder-template" type="text/template">
	<div id="geocode-input">
		<input id="location-input" type="textbox" value="San Francisco">
		<input id="recenter-map-btn" type="button" value="Center Map">
	</div>
</script>
<script id="comments-template" type="text/template">
	<div id="comments-container">
		<h4>Comments posted by <%= user %> </h4>
		"<%= comments %>"
	</div>
</script>

<!-- END TEMPLATES -->

<script src="jquery.js"></script>
<script src="underscore.js"></script>
<script src="backbone.js"></script>
<script src="backbone.localStorage.js"></script>
<script src="bootstrap.min.js"></script>
<script src="app2.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=drawing&sensor=false"></script>


</html>